@import 'variables';
@import 'normalize';
@import 'mixins/buttons';
@import 'partials/header';
@import 'partials/desktop-nav';
@import 'partials/latest-posts';
@import 'partials/helpers';
@import 'partials/newsletter-subscribe';





html,  body {
  margin-top: 0px !important;
}

.content {
  padding: 50px 0px;
  background-color: white;
  z-index: -2;
}

input:focus{
  outline: 0 !important;
}

