header{
  background-color: $pink-sand;
  margin-top: -25px;

  .hero {
    > h1 {
      padding: 25px 0px;
      text-align: center;
      margin-bottom: 0px;
       > span {
          color: $sand;
          font-size: 40px;
          text-transform: uppercase;
          font-family: 'Italiana', serif;
          position: relative;
          z-index: 3;
          font-weight: bold;
          &:after {
            animation: logo_underline 3s ease-out forwards;
            content: '';
            position: absolute;
            bottom: 0px;
            right: -10px;
            background-color: $brown;
            z-index: -1;
          }
       }
    }
  }

}
@keyframes logo_underline {
  0% {
    width: 0px;
    height: 5%;
  }
  30% {
    width: calc(100% + 20px);
    height:  5%;
  }
  100% {
    width: calc(100% + 20px);
    height: 100%;
    border-radius: 2px;
  }
}

@keyframes color_blend {
  from {
    color: $pink-sand;
  }
  to {
    color: $sand;
  }
}