.newsletter-subscription {
  text-align: center;
  min-height: 250px;
  position: relative;
  background: repeating-linear-gradient(
    45deg,
    $brown,
    $brown 1px,
    $salmon 0px,
    $salmon 10px
  );

  table {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    tbody {
      display: block;
      overflow: auto;
      zoom: 1;

      tr {
        display: inline-block;
        &:first-child {
          float: left;
          width: 66%;
          th{
            display: block;
            font-size: 70px;
            font-family: 'Italiana', serif;
            text-transform: uppercase;
            font-weight: 900;
            color: $sand;
            padding-left: 15px;
          }
          td {
            width: 100%;
            display: block;
            > input {
              height: 75px;
              border: none;
              background-color: $brown;
              width: 100%;
              padding: 15px;
              font-size: 35px;
              font-family: 'Lato';
              font-weight: 900;
              text-transform: uppercase;
              color: $sand;
            }

          }
        }

        &:nth-child(2) {
          float:right;
          width: 33%;
          td{
            margin-top: 97px;
            display: block;
            text-align: right;

            > input {
              border: none;
              color: red;
              @include largeButton($brown);
            }
          }
        }
      }

    }
  }
}