.post-container {
  padding:  25px 50px 50px 50px;
  position: relative;
  margin-top: -25px;
  background-color: $sand;


  .post {
    max-width: 1000px;
    margin: 0 auto;
    .post-info {
      margin-bottom: 40px;
      padding: 10px 25px 5px 25px;
      min-height: 100px;
      background-color: $brown;
      h3 {
        color: $sand;
        margin-top: 0px;
        margin-bottom: 20px;
        font-size: 40px;
        font-family: 'Lato', serif;
        text-transform: uppercase;
      }
      .date {
        color: $sherbert;
      }
    }
    .post-content {

      > p {
        text-align: justify;
        line-height: 30px;
        padding: 0px 20px;
        font-size: 20px;
        font-family: 'Lato', serif;
      }
    }
  }

}